{
  "openapi": "3.0.3",
  "info": {
    "title": "Synelia Cloud — API",
    "version": "1.0.0",
    "description": "API de Synelia Cloud — plateforme de gestion de cloud multi-tenant opérée à\nAbidjan (Synertech Vallon) et Grand-Bassam (VITIB).\n\n## Ce que cette API couvre\n\nTrois espaces, une seule API :\n\n- **espace client** : Espaces Cloud, machines, Kubernetes, réseau, stockage,\n  sauvegarde et PRA, plateforme applicative, projets, Web Cloud, services\n  managés, facturation, support ;\n- **espace super admin** (préfixe `/admin`) : pilotage, clients,\n  capacité, catalogue, finance, exploitation ;\n- **vitrine publique** (préfixe `/public`) : offres, tarifs, simulateur,\n  statut, souveraineté, demandes de contact.\n\n## Ce qu'elle ne couvre pas, volontairement\n\nLe portail **ne réimplémente jamais l'écran principal d'un produit amont** :\npas d'explorateur de fichiers, pas de webmail, pas d'écran métier d'ERP, pas\nd'éditeur de contenu de CMS, pas de constructeur de requêtes de journaux.\nL'API provisionne, dimensionne, sauvegarde, supervise et **ouvre la porte**\n(`POST /services/{id}/ouverture` renvoie un rebond SSO). Aucun point d'entrée\nne lit un courriel, ne liste un objet de bucket ni ne modifie une écriture\ncomptable.\n\nL'observabilité est bornée à quatre formats : tuile (`Tuile`), série\n(`Serie`, fenêtres `24h` / `7j` / `30j` seulement), liste d'événements\n(huit lignes), extrait de journal (vingt lignes). Au-delà, les réponses\nportent des liens de sortie vers Centreon, Grafana et VictoriaLogs.\n\n## Conventions\n\n- **Langue** : les noms de champs reprennent le modèle de données du produit,\n  en français. `Accept-Language` gouverne les libellés, jamais les clés.\n- **Multi-tenant** : l'organisation vient du jeton ; `X-Organisation-Id` la\n  remplace quand l'utilisateur appartient à plusieurs organisations.\n- **Pagination** : `page`, `parPage`, `tri`, `ordre` et `q` en requête,\n  `{ donnees, pagination }` en réponse. Une ressource seule n'est pas enveloppée.\n- **Asynchrone** : toute opération de provisioning répond `202` avec un\n  `TravailProvisioning` dont les étapes se suivent une par une.\n- **Actions destructives** : paramètre `confirmation` obligatoire, valant le\n  nom exact de la ressource. Un écart renvoie `422` sans rien détruire.\n- **Actions facturables** : `POST /facturation/estimation` renvoie l'aperçu de\n  coût attendu avant l'engagement.\n- **Droits** : chaque opération porte `x-rbac`, l'identifiant de son action\n  dans la matrice RBAC. Un refus renvoie `403` avec `rolesRequis` : le client\n  désactive l'action et nomme le rôle requis, il ne la masque pas.\n- **Erreurs** : enveloppe `{ erreur: { code, message, correlationId } }`. Le\n  `correlationId` est toujours présent, affiché et copiable côté interface.\n- **Secrets** : mots de passe, clés privées et jetons ne sont renvoyés qu'à leur\n  création ou à leur rotation, jamais en lecture.\n- **Intégration amont en défaut** : `424` avec la fraîcheur des dernières\n  données connues, pour un affichage dégradé plutôt qu'une page vide.\n- **Montants** : entiers en FCFA (XOF) sauf mention contraire.",
    "contact": {
      "name": "Synelia",
      "url": "https://synelia.tech",
      "email": "support@synelia.tech"
    },
    "license": {
      "name": "Propriétaire — Synelia",
      "url": "https://synelia.tech/legal/mentions-legales"
    }
  },
  "servers": [
    {
      "url": "https://api.synelia.cloud/v1",
      "description": "Production"
    },
    {
      "url": "https://api.bac-a-sable.synelia.cloud/v1",
      "description": "Bac à sable"
    },
    {
      "url": "http://localhost:4000/v1",
      "description": "Développement local"
    }
  ],
  "tags": [
    {
      "name": "Authentification",
      "description": "Connexion, MFA, fédération, inscription, invitations."
    },
    {
      "name": "Compte & organisation active",
      "description": "Profil, préférences, organisation courante, lanceur de services."
    },
    {
      "name": "Organisations",
      "description": "Cycle de vie des organisations, vue fournisseur."
    },
    {
      "name": "Membres & rôles",
      "description": "Membres, invitations, matrice des droits."
    },
    {
      "name": "Sécurité & accès",
      "description": "Fédération SSO, politiques, sessions, clés d’API."
    },
    {
      "name": "Audit",
      "description": "Journal d’audit, rapports de conformité, attestations."
    },
    {
      "name": "Tableau de bord",
      "description": "Synthèse, recherche globale, copilote, guide de démarrage, anomalies."
    },
    {
      "name": "Travaux de provisioning",
      "description": "Suivi des opérations asynchrones."
    },
    {
      "name": "Espaces Cloud",
      "description": "Espaces, quotas, placement, consommation."
    },
    {
      "name": "Machines virtuelles",
      "description": "Machines, matériel virtuel, console, déploiement en lot."
    },
    {
      "name": "Kubernetes",
      "description": "Clusters managés, pools, modules, kubeconfig."
    },
    {
      "name": "Réseau",
      "description": "Réseaux privés, IP publiques, pare-feu, VPN, load balancers."
    },
    {
      "name": "Stockage",
      "description": "Volumes bloc, buckets objet, clés d’accès S3."
    },
    {
      "name": "Bases managées",
      "description": "Bases opérées par la plateforme, réplicas, restauration dans le temps."
    },
    {
      "name": "Sauvegarde & PRA",
      "description": "Plans, points de restauration, conformité 3-2-1, plans de reprise."
    },
    {
      "name": "Déploiements",
      "description": "Construction, analyse, mise en service, retour arrière, choix de branche."
    },
    {
      "name": "Projets applicatifs",
      "description": "Projets, services, zone applicative, domaines, routage."
    },
    {
      "name": "Modèles applicatifs",
      "description": "Bibliothèque de solutions libres qualifiées."
    },
    {
      "name": "IA — Modèles",
      "description": "Catalogue des modèles IA, avec la passerelle qui les rend réellement invocables."
    },
    {
      "name": "IA — Agents",
      "description": "Agents : consigne, modèle, réglages, invocation en un aller-retour."
    },
    {
      "name": "Observabilité",
      "description": "Séries, événements, journaux, règles d’alerte."
    },
    {
      "name": "Services managés",
      "description": "Catalogue, souscription, sièges, configuration, ouverture."
    },
    {
      "name": "Web Cloud — domaines & DNS",
      "description": "Noms de domaine, zones et enregistrements."
    },
    {
      "name": "Web Cloud — hébergement",
      "description": "Hébergement mutualisé, PHP, transfert, tâches planifiées."
    },
    {
      "name": "Web Cloud — applications web",
      "description": "WordPress, PrestaShop, Laravel, sites statiques."
    },
    {
      "name": "Web Cloud — bases",
      "description": "Bases des hébergements, sans accès distant."
    },
    {
      "name": "Web Cloud — emails",
      "description": "Messagerie de domaine, boîtes, alias, authentification."
    },
    {
      "name": "Web Cloud — drive",
      "description": "Drive de domaine, sièges, partage, rétention."
    },
    {
      "name": "Web Cloud — SSL",
      "description": "Certificats, validation, renouvellement."
    },
    {
      "name": "Web Cloud — sauvegarde",
      "description": "Sauvegarde des hébergements et restauration granulaire."
    },
    {
      "name": "Web Cloud — relais SMTP",
      "description": "Envoi applicatif, réputation, journal de remise."
    },
    {
      "name": "Facturation",
      "description": "Factures, consommation, ventilation, moyens de paiement, SLA."
    },
    {
      "name": "Support",
      "description": "Tickets, pièces jointes, base de connaissances."
    },
    {
      "name": "Documentation & formation",
      "description": "Parcours, progression, bac à sable."
    },
    {
      "name": "Super admin — pilotage",
      "description": "Synthèse, santé, audit et conformité de la plateforme."
    },
    {
      "name": "Super admin — clients",
      "description": "Organisations clientes et demandes entrantes de la vitrine."
    },
    {
      "name": "Super admin — infrastructure",
      "description": "Capacité, socles, placement, campagnes de migration."
    },
    {
      "name": "Super admin — produit",
      "description": "Catalogue par famille, parc de services, campagnes de mise à jour."
    },
    {
      "name": "Super admin — finance",
      "description": "Facturation, impayés, marges."
    },
    {
      "name": "Super admin — exploitation",
      "description": "Tickets, statut public, incidents, équipe."
    },
    {
      "name": "Vitrine publique",
      "description": "Offres, tarifs, simulateur, statut, souveraineté, demandes."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "cleApi": []
    }
  ],
  "paths": {
    "/admin/audit": {
      "get": {
        "tags": [
          "Super admin — pilotage"
        ],
        "operationId": "listerAuditPlateforme",
        "summary": "Lister le journal d’audit de la plateforme",
        "x-rbac": "audit.view",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/ParPage"
          },
          {
            "$ref": "#/components/parameters/Tri"
          },
          {
            "$ref": "#/components/parameters/Ordre"
          },
          {
            "$ref": "#/components/parameters/Recherche"
          },
          {
            "name": "orgId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "acteur",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resultat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ok",
                "refuse",
                "erreur"
              ]
            }
          },
          {
            "name": "depuis",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "jusqua",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "donnees": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EvenementAudit"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "required": [
                    "donnees",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/backends": {
      "get": {
        "tags": [
          "Super admin — infrastructure"
        ],
        "operationId": "listerBackends",
        "summary": "Lister les socles de virtualisation",
        "x-rbac": "capacity.manage",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/ParPage"
          },
          {
            "$ref": "#/components/parameters/Tri"
          },
          {
            "$ref": "#/components/parameters/Ordre"
          },
          {
            "$ref": "#/components/parameters/Recherche"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "openstack",
                "proxmox",
                "cloudstack",
                "vsphere",
                "hyperv"
              ]
            }
          },
          {
            "name": "site",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ABJ",
                "GBM"
              ]
            }
          },
          {
            "name": "statut",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "en_ligne",
                "maintenance",
                "degrade"
              ]
            }
          },
          {
            "name": "enSortie",
            "in": "query",
            "required": false,
            "description": "Socles propriétaires dont la sortie est engagée.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "donnees": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Backend"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "required": [
                    "donnees",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/backends/{backendId}": {
      "get": {
        "tags": [
          "Super admin — infrastructure"
        ],
        "operationId": "obtenirBackend",
        "summary": "Obtenir un socle",
        "x-rbac": "capacity.manage",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "name": "backendId",
            "in": "path",
            "required": true,
            "description": "Identifiant du socle.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Backend"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "404": {
            "$ref": "#/components/responses/Introuvable"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      },
      "patch": {
        "tags": [
          "Super admin — infrastructure"
        ],
        "operationId": "modifierBackend",
        "summary": "Modifier un socle",
        "description": "Mise en maintenance, capacité déclarée, trajectoire de sortie.",
        "x-rbac": "capacity.manage",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "name": "backendId",
            "in": "path",
            "required": true,
            "description": "Identifiant du socle.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "statut": {
                    "type": "string",
                    "enum": [
                      "en_ligne",
                      "maintenance",
                      "degrade"
                    ]
                  },
                  "capacite": {
                    "$ref": "#/components/schemas/Quota"
                  },
                  "hosts": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "enSortie": {
                    "type": "object",
                    "properties": {
                      "actif": {
                        "type": "boolean"
                      },
                      "cibleMigration": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Backend"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "404": {
            "$ref": "#/components/responses/Introuvable"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/capacite": {
      "get": {
        "tags": [
          "Super admin — infrastructure"
        ],
        "operationId": "obtenirCapacite",
        "summary": "Obtenir la capacité et sa projection",
        "description": "Saturation à 30, 60 et 90 jours par socle : c’est ce qui déclenche une commande de matériel.",
        "x-rbac": "capacity.manage",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "name": "site",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ABJ",
                "GBM"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Capacite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/catalogue/familles": {
      "get": {
        "tags": [
          "Super admin — produit"
        ],
        "operationId": "listerFamillesCatalogue",
        "summary": "Lister les familles du catalogue",
        "description": "Espace Cloud, images de VM, clusters, stacks, web — avec le compte d’offres par famille.",
        "x-rbac": "catalog.edit",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "enum": [
                          "espace_cloud",
                          "image_vm",
                          "k8s",
                          "stack",
                          "web"
                        ]
                      },
                      "libelle": {
                        "type": "string"
                      },
                      "offres": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "publiees": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "souscriptionsActives": {
                        "type": "integer",
                        "format": "int32"
                      }
                    },
                    "required": [
                      "code",
                      "libelle",
                      "offres"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/catalogue/offres": {
      "get": {
        "tags": [
          "Super admin — produit"
        ],
        "operationId": "listerOffres",
        "summary": "Lister les offres",
        "x-rbac": "catalog.edit",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/ParPage"
          },
          {
            "$ref": "#/components/parameters/Tri"
          },
          {
            "$ref": "#/components/parameters/Ordre"
          },
          {
            "$ref": "#/components/parameters/Recherche"
          },
          {
            "name": "categorie",
            "in": "query",
            "required": false,
            "description": "Famille du catalogue — le découpage attendu côté fournisseur.",
            "schema": {
              "type": "string",
              "enum": [
                "espace_cloud",
                "image_vm",
                "k8s",
                "stack",
                "web"
              ]
            }
          },
          {
            "name": "statut",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "brouillon",
                "publiee",
                "depreciee"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "donnees": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Offre"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "required": [
                    "donnees",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      },
      "post": {
        "tags": [
          "Super admin — produit"
        ],
        "operationId": "creerOffre",
        "summary": "Créer une offre",
        "x-rbac": "catalog.edit",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OffreCreation"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Offre"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "409": {
            "$ref": "#/components/responses/Conflit"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/catalogue/offres/{offreId}": {
      "get": {
        "tags": [
          "Super admin — produit"
        ],
        "operationId": "obtenirOffre",
        "summary": "Obtenir une offre",
        "x-rbac": "catalog.edit",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "name": "offreId",
            "in": "path",
            "required": true,
            "description": "Identifiant de l’offre.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Offre"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "404": {
            "$ref": "#/components/responses/Introuvable"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      },
      "patch": {
        "tags": [
          "Super admin — produit"
        ],
        "operationId": "modifierOffre",
        "summary": "Modifier une offre",
        "x-rbac": "catalog.edit",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "name": "offreId",
            "in": "path",
            "required": true,
            "description": "Identifiant de l’offre.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OffreCreation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Offre"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "404": {
            "$ref": "#/components/responses/Introuvable"
          },
          "409": {
            "$ref": "#/components/responses/Conflit"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      },
      "delete": {
        "tags": [
          "Super admin — produit"
        ],
        "operationId": "supprimerOffre",
        "summary": "Supprimer une offre",
        "description": "Action destructive : le nom exact de la ressource est exigé en confirmation.",
        "x-rbac": "catalog.edit",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "$ref": "#/components/parameters/Confirmation"
          },
          {
            "name": "offreId",
            "in": "path",
            "required": true,
            "description": "Identifiant de l’offre.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Supprimé. Aucun corps."
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "404": {
            "$ref": "#/components/responses/Introuvable"
          },
          "409": {
            "$ref": "#/components/responses/Conflit"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/catalogue/offres/{offreId}/publication": {
      "post": {
        "tags": [
          "Super admin — produit"
        ],
        "operationId": "publierOffre",
        "summary": "Publier ou déprécier une offre",
        "description": "Déprécier n’interrompt pas les souscriptions en cours ; la réponse en donne le nombre.",
        "x-rbac": "catalog.edit",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "name": "offreId",
            "in": "path",
            "required": true,
            "description": "Identifiant de l’offre.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "statut": {
                    "type": "string",
                    "enum": [
                      "publiee",
                      "depreciee"
                    ]
                  }
                },
                "required": [
                  "statut"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Offre"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "404": {
            "$ref": "#/components/responses/Introuvable"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/catalogue/services/{slug}": {
      "put": {
        "tags": [
          "Super admin — produit"
        ],
        "operationId": "modifierFicheCatalogueService",
        "summary": "Modifier une fiche du catalogue de services managés",
        "description": "Paliers, prix, SLA, formats de réversibilité, migrations entrantes. La fiche est le contrat commercial du service : ce qu’elle annonce, la plateforme doit le tenir.",
        "x-rbac": "catalog.edit",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug du service.",
            "schema": {
              "type": "string"
            },
            "example": "drive-pro"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FicheCatalogue"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FicheCatalogue"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "404": {
            "$ref": "#/components/responses/Introuvable"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/catalogue/services/{slug}/versions": {
      "post": {
        "tags": [
          "Super admin — produit"
        ],
        "operationId": "qualifierVersionService",
        "summary": "Qualifier une version d’un service managé",
        "description": "Une version n’est déployable qu’une fois qualifiée : c’est ce qui permet de ne jamais servir « latest » à un client.",
        "x-rbac": "catalog.edit",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug du service.",
            "schema": {
              "type": "string"
            },
            "example": "drive-pro"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "notesUrl": {
                    "type": "string"
                  },
                  "rupture": {
                    "type": "boolean"
                  },
                  "dureeIndisponibiliteMin": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "rollbackPossible": {
                    "type": "boolean"
                  },
                  "statut": {
                    "type": "string",
                    "enum": [
                      "disponible",
                      "depreciee",
                      "retiree"
                    ]
                  }
                },
                "required": [
                  "version"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionService"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "404": {
            "$ref": "#/components/responses/Introuvable"
          },
          "409": {
            "$ref": "#/components/responses/Conflit"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/conformite": {
      "get": {
        "tags": [
          "Super admin — pilotage"
        ],
        "operationId": "obtenirConformitePlateforme",
        "summary": "Obtenir l’état de conformité de la plateforme",
        "x-rbac": "compliance.export",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "referentiels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "nom": {
                            "type": "string"
                          },
                          "statut": {
                            "type": "string",
                            "enum": [
                              "conforme",
                              "partiel",
                              "non_conforme"
                            ]
                          },
                          "dernierAudit": {
                            "type": "string",
                            "format": "date"
                          },
                          "prochainAudit": {
                            "type": "string",
                            "format": "date"
                          },
                          "ecarts": {
                            "type": "integer",
                            "format": "int32"
                          }
                        },
                        "required": [
                          "nom",
                          "statut"
                        ]
                      }
                    },
                    "conformite321": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LigneConformite"
                      }
                    },
                    "exercicesPra": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "organisationsSansSauvegarde": {
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "required": [
                    "referentiels"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/conformite/fenetres-patching": {
      "get": {
        "tags": [
          "Super admin — exploitation"
        ],
        "operationId": "listerFenetresPatching",
        "summary": "Lister les fenêtres de patching",
        "x-rbac": "capacity.manage",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/ParPage"
          },
          {
            "$ref": "#/components/parameters/Tri"
          },
          {
            "$ref": "#/components/parameters/Ordre"
          },
          {
            "$ref": "#/components/parameters/Recherche"
          },
          {
            "name": "statut",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "depuis",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "donnees": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FenetrePatching"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "required": [
                    "donnees",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      },
      "post": {
        "tags": [
          "Super admin — exploitation"
        ],
        "operationId": "planifierFenetrePatching",
        "summary": "Planifier une fenêtre de patching",
        "description": "Les organisations concernées sont notifiées avec l’impact annoncé, pas après coup.",
        "x-rbac": "capacity.manage",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "libelle": {
                    "type": "string"
                  },
                  "perimetre": {
                    "type": "string"
                  },
                  "debut": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "dureeMin": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "recurrence": {
                    "type": "string"
                  },
                  "impactClient": {
                    "type": "string"
                  },
                  "notifier": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "libelle",
                  "perimetre",
                  "debut",
                  "dureeMin"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FenetrePatching"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "409": {
            "$ref": "#/components/responses/Conflit"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/conformite/tests-restauration": {
      "post": {
        "tags": [
          "Super admin — exploitation"
        ],
        "operationId": "lancerCampagneTestsRestauration",
        "summary": "Lancer une campagne de tests de restauration",
        "description": "Restaurations à blanc sur un échantillon : c’est ce qui distingue une sauvegarde d’un espoir, et ce que l’auditeur demande à voir daté.",
        "x-rbac": "compliance.export",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "perimetre": {
                    "type": "string",
                    "enum": [
                      "toutes",
                      "organisation",
                      "type_ressource"
                    ]
                  },
                  "valeur": {
                    "type": "string"
                  },
                  "echantillonPct": {
                    "type": "number"
                  },
                  "fenetre": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "perimetre"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepté — travail de provisioning créé.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TravailProvisioning"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/equipe": {
      "get": {
        "tags": [
          "Super admin — exploitation"
        ],
        "operationId": "listerEquipe",
        "summary": "Lister l’équipe Synelia",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/ParPage"
          },
          {
            "$ref": "#/components/parameters/Tri"
          },
          {
            "$ref": "#/components/parameters/Ordre"
          },
          {
            "$ref": "#/components/parameters/Recherche"
          },
          {
            "name": "equipe",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "privilegie",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "revueDue",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "donnees": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MembreEquipe"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "required": [
                    "donnees",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      },
      "post": {
        "tags": [
          "Super admin — exploitation"
        ],
        "operationId": "ajouterMembreEquipe",
        "summary": "Ajouter un membre de l’équipe",
        "x-rbac": "org.manage",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nom": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "super_admin",
                      "platform_operator",
                      "org_admin",
                      "espace_admin",
                      "project_owner",
                      "operator",
                      "service_admin",
                      "billing_manager",
                      "compliance",
                      "read_only"
                    ]
                  },
                  "equipe": {
                    "type": "string"
                  },
                  "privilegie": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "nom",
                  "email",
                  "role",
                  "equipe"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembreEquipe"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/equipe/{membreId}": {
      "patch": {
        "tags": [
          "Super admin — exploitation"
        ],
        "operationId": "modifierMembreEquipe",
        "summary": "Modifier un membre de l’équipe",
        "x-rbac": "org.manage",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "name": "membreId",
            "in": "path",
            "required": true,
            "description": "Identifiant du membre.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "super_admin",
                      "platform_operator",
                      "org_admin",
                      "espace_admin",
                      "project_owner",
                      "operator",
                      "service_admin",
                      "billing_manager",
                      "compliance",
                      "read_only"
                    ]
                  },
                  "equipe": {
                    "type": "string"
                  },
                  "privilegie": {
                    "type": "boolean"
                  },
                  "revuLe": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembreEquipe"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "404": {
            "$ref": "#/components/responses/Introuvable"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      },
      "delete": {
        "tags": [
          "Super admin — exploitation"
        ],
        "operationId": "retirerMembreEquipe",
        "summary": "Retirer un membre de l’équipe",
        "x-rbac": "org.manage",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "name": "membreId",
            "in": "path",
            "required": true,
            "description": "Identifiant du membre.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Supprimé. Aucun corps."
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "404": {
            "$ref": "#/components/responses/Introuvable"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/equipe/{membreId}/elevation": {
      "get": {
        "tags": [
          "Super admin — exploitation"
        ],
        "operationId": "listerElevations",
        "summary": "Lister les élévations d’un membre de l’équipe",
        "x-rbac": "audit.view",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "name": "membreId",
            "in": "path",
            "required": true,
            "description": "Identifiant du membre.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Elevation"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "404": {
            "$ref": "#/components/responses/Introuvable"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      },
      "post": {
        "tags": [
          "Super admin — exploitation"
        ],
        "operationId": "eleverPrivileges",
        "summary": "Élever temporairement les privilèges d’un membre",
        "description": "Bornée dans le temps, motivée, rattachée à un ticket, et intégralement journalisée. Aucun rôle permanent ne remplace cette trace.",
        "x-rbac": "org.manage",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "name": "membreId",
            "in": "path",
            "required": true,
            "description": "Identifiant du membre.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "super_admin",
                      "platform_operator",
                      "org_admin",
                      "espace_admin",
                      "project_owner",
                      "operator",
                      "service_admin",
                      "billing_manager",
                      "compliance",
                      "read_only"
                    ]
                  },
                  "motif": {
                    "type": "string"
                  },
                  "ticketId": {
                    "type": "string"
                  },
                  "dureeMin": {
                    "type": "integer",
                    "format": "int32"
                  }
                },
                "required": [
                  "role",
                  "motif",
                  "dureeMin"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Elevation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "404": {
            "$ref": "#/components/responses/Introuvable"
          },
          "409": {
            "$ref": "#/components/responses/Conflit"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      },
      "delete": {
        "tags": [
          "Super admin — exploitation"
        ],
        "operationId": "revoquerElevation",
        "summary": "Révoquer une élévation avant son terme",
        "x-rbac": "org.manage",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "name": "membreId",
            "in": "path",
            "required": true,
            "description": "Identifiant du membre.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Supprimé. Aucun corps."
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "404": {
            "$ref": "#/components/responses/Introuvable"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/facturation/cycle": {
      "post": {
        "tags": [
          "Super admin — finance"
        ],
        "operationId": "lancerCycleFacturation",
        "summary": "Lancer le cycle de facturation d’une période",
        "description": "Produit les factures à l’état brouillon ; l’émission reste une action distincte.",
        "x-rbac": "invoice.view",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "periode": {
                    "type": "string"
                  },
                  "orgIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "emettre": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "periode"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepté — travail de provisioning créé.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TravailProvisioning"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "409": {
            "$ref": "#/components/responses/Conflit"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/facturation/cycles": {
      "get": {
        "tags": [
          "Super admin — finance"
        ],
        "operationId": "listerCyclesFacturation",
        "summary": "Lister les cycles de facturation",
        "description": "Un cycle par période, avec le nombre de factures émises et les organisations en échec.",
        "x-rbac": "invoice.view",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/ParPage"
          },
          {
            "$ref": "#/components/parameters/Tri"
          },
          {
            "$ref": "#/components/parameters/Ordre"
          },
          {
            "$ref": "#/components/parameters/Recherche"
          },
          {
            "name": "periode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statut",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "donnees": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CycleFacturation"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "required": [
                    "donnees",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/facturation/factures": {
      "get": {
        "tags": [
          "Super admin — finance"
        ],
        "operationId": "listerFacturesPlateforme",
        "summary": "Lister les factures de toutes les organisations",
        "x-rbac": "invoice.view",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/ParPage"
          },
          {
            "$ref": "#/components/parameters/Tri"
          },
          {
            "$ref": "#/components/parameters/Ordre"
          },
          {
            "$ref": "#/components/parameters/Recherche"
          },
          {
            "name": "orgId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statut",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "brouillon",
                "emise",
                "payee",
                "impayee",
                "annulee"
              ]
            }
          },
          {
            "name": "periode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "donnees": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Facture"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "required": [
                    "donnees",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/facturation/impayes": {
      "get": {
        "tags": [
          "Super admin — finance"
        ],
        "operationId": "listerImpayes",
        "summary": "Lister les impayés et les relances",
        "x-rbac": "invoice.view",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/ParPage"
          },
          {
            "$ref": "#/components/parameters/Tri"
          },
          {
            "$ref": "#/components/parameters/Ordre"
          },
          {
            "$ref": "#/components/parameters/Recherche"
          },
          {
            "name": "retardMinJours",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "orgId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "donnees": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Impaye"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "required": [
                    "donnees",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/facturation/impayes/relances": {
      "post": {
        "tags": [
          "Super admin — finance"
        ],
        "operationId": "lancerRelances",
        "summary": "Envoyer une vague de relances",
        "x-rbac": "invoice.view",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "factures": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "niveau": {
                    "type": "string",
                    "enum": [
                      "rappel",
                      "mise_en_demeure",
                      "suspension"
                    ]
                  }
                },
                "required": [
                  "factures",
                  "niveau"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "envoyees": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "echecs": {
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "required": [
                    "envoyees"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/facturation/marges": {
      "get": {
        "tags": [
          "Super admin — finance"
        ],
        "operationId": "listerMargesBackends",
        "summary": "Obtenir la marge par socle",
        "description": "Coût d’infrastructure contre revenu : c’est ce qui justifie la sortie d’un socle propriétaire.",
        "x-rbac": "catalog.edit",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MargeBackend"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/leads": {
      "get": {
        "tags": [
          "Super admin — clients"
        ],
        "operationId": "listerLeads",
        "summary": "Lister les demandes entrantes de la vitrine",
        "description": "Contacts, devis et configurations simulées, avec leur suivi commercial.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/ParPage"
          },
          {
            "$ref": "#/components/parameters/Tri"
          },
          {
            "$ref": "#/components/parameters/Ordre"
          },
          {
            "$ref": "#/components/parameters/Recherche"
          },
          {
            "name": "statut",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "nouveau",
                "contacte",
                "qualifie",
                "devis_envoye",
                "gagne",
                "perdu"
              ]
            }
          },
          {
            "name": "origine",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assigneA",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "depuis",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "donnees": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Lead"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "required": [
                    "donnees",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/leads/{leadId}": {
      "patch": {
        "tags": [
          "Super admin — clients"
        ],
        "operationId": "modifierLead",
        "summary": "Qualifier une demande entrante",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "name": "leadId",
            "in": "path",
            "required": true,
            "description": "Identifiant de la demande.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "statut": {
                    "type": "string",
                    "enum": [
                      "nouveau",
                      "contacte",
                      "qualifie",
                      "devis_envoye",
                      "gagne",
                      "perdu"
                    ]
                  },
                  "assigneA": {
                    "type": "string"
                  },
                  "note": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "404": {
            "$ref": "#/components/responses/Introuvable"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/marketplace/campagnes": {
      "get": {
        "tags": [
          "Super admin — produit"
        ],
        "operationId": "listerCampagnesMaj",
        "summary": "Lister les campagnes de mise à jour",
        "x-rbac": "capacity.manage",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/ParPage"
          },
          {
            "$ref": "#/components/parameters/Tri"
          },
          {
            "$ref": "#/components/parameters/Ordre"
          },
          {
            "$ref": "#/components/parameters/Recherche"
          },
          {
            "name": "catalogSlug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statut",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "donnees": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CampagneMaj"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "required": [
                    "donnees",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      },
      "post": {
        "tags": [
          "Super admin — produit"
        ],
        "operationId": "creerCampagneMaj",
        "summary": "Créer une campagne de mise à jour",
        "x-rbac": "capacity.manage",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nom": {
                    "type": "string"
                  },
                  "catalogSlug": {
                    "type": "string"
                  },
                  "versionCible": {
                    "type": "string"
                  },
                  "fenetre": {
                    "type": "string"
                  },
                  "strategie": {
                    "type": "string",
                    "enum": [
                      "par_vagues",
                      "immediate"
                    ]
                  },
                  "instances": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Vide pour tout le parc du service."
                  },
                  "notesVersion": {
                    "type": "string"
                  }
                },
                "required": [
                  "nom",
                  "catalogSlug",
                  "versionCible",
                  "fenetre"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampagneMaj"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/marketplace/campagnes/{campagneId}/lancement": {
      "post": {
        "tags": [
          "Super admin — produit"
        ],
        "operationId": "lancerCampagneMaj",
        "summary": "Lancer une campagne de mise à jour",
        "x-rbac": "capacity.manage",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "name": "campagneId",
            "in": "path",
            "required": true,
            "description": "Identifiant de la campagne.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepté — travail de provisioning créé.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TravailProvisioning"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "404": {
            "$ref": "#/components/responses/Introuvable"
          },
          "409": {
            "$ref": "#/components/responses/Conflit"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/marketplace/campagnes/{campagneId}/suspension": {
      "post": {
        "tags": [
          "Super admin — produit"
        ],
        "operationId": "suspendreCampagneMaj",
        "summary": "Suspendre une campagne de mise à jour",
        "x-rbac": "capacity.manage",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "name": "campagneId",
            "in": "path",
            "required": true,
            "description": "Identifiant de la campagne.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepté — travail de provisioning créé.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TravailProvisioning"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "404": {
            "$ref": "#/components/responses/Introuvable"
          },
          "409": {
            "$ref": "#/components/responses/Conflit"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/marketplace/instances": {
      "get": {
        "tags": [
          "Super admin — produit"
        ],
        "operationId": "listerParcInstances",
        "summary": "Lister le parc des services managés",
        "x-rbac": "capacity.manage",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/ParPage"
          },
          {
            "$ref": "#/components/parameters/Tri"
          },
          {
            "$ref": "#/components/parameters/Ordre"
          },
          {
            "$ref": "#/components/parameters/Recherche"
          },
          {
            "name": "catalogSlug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sante",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ok",
                "degrade",
                "maintenance",
                "maj_disponible"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ABJ",
                "GBM"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "donnees": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InstanceParc"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "required": [
                    "donnees",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      }
    },
    "/admin/migration/campagnes": {
      "get": {
        "tags": [
          "Super admin — infrastructure"
        ],
        "operationId": "listerCampagnesMigration",
        "summary": "Lister les campagnes de migration",
        "description": "Sortie des socles propriétaires : chaque campagne dit ce qu’elle déplace et l’impact client.",
        "x-rbac": "capacity.manage",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/ParPage"
          },
          {
            "$ref": "#/components/parameters/Tri"
          },
          {
            "$ref": "#/components/parameters/Ordre"
          },
          {
            "$ref": "#/components/parameters/Recherche"
          },
          {
            "name": "statut",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "backendSource",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "donnees": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CampagneMigration"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "required": [
                    "donnees",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
            "$ref": "#/components/responses/Interdit"
          },
          "422": {
            "$ref": "#/components/responses/Invalidee"
          },
          "429": {
            "$ref": "#/components/responses/TropDeRequetes"
          },
          "500": {
            "$ref": "#/components/responses/Serveur"
          }
        }
      },
      "post": {
        "tags": [
          "Super admin — infrastructure"
        ],
        "operationId": "creerCampagneMigration",
        "summary": "Créer une campagne de migration",
        "x-rbac": "capacity.manage",
        "parameters": [
          {
            "$ref": "#/components/parameters/Langue"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nom": {
                    "type": "string"
                  },
                  "backendSource": {
                    "type": "string"
                  },
                  "backendCible": {
                    "type": "string"
                  },
                  "ressources": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "fenetre": {
                    "type": "string"
                  },
                  "notifierClients": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "nom",
                  "backendSource",
                  "backendCible",
                  "fenetre"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampagneMigration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalide"
          },
          "401": {
            "$ref": "#/components/responses/NonAuthentifie"
          },
          "403": {
[...]
